<html lang="en-US">
<html>
    <h2>Audio For Last Recipe Entry</h2>
    <p> Title:   <audio src='https://storage.googleapis.com/cs510c-natreed/title.mp3' controls></audio> </p>
    <p> Author:   <audio src='https://storage.googleapis.com/cs510c-natreed/author.mp3' controls></audio> </p>
    <p> Ingredients:   <audio src='https://storage.googleapis.com/cs510c-natreed/ingredients.mp3' controls></audio> </p>
    <p> Instructions:   <audio src='https://storage.googleapis.com/cs510c-natreed/instructions.mp3' controls></audio> </p>
</html>
